<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="{{url_for('static', filename='img/lol.png')}}" type="image/png">
    <title>Конный клуб «Абрикос»</title>
    <link href="https://fonts.googleapis.com/css2?family=Jura&display=swap" rel="stylesheet"> 
    <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}"/>
    <link rel="stylesheet" href="{{url_for('static', filename='css/snowFlakes/snow.min.css')}}"/>
</head>
<body>
    <h1>Редактировать мероприятие</h1>
    <a href="/admin/events">Вернуться к списку мероприятий</a>
    <form action="/admin/events/edit/{{ event.id }}" method="post">
        <label for="name">Название:</label>
        <input type="text" id="name" name="name" value="{{ event.name }}" required><br><br>

        <label for="date">Дата:</label>
        <input type="date" id="date" name="date" value="{{ event.date }}" required><br><br>

        <label for="description">Описание:</label>
        <textarea id="description" name="description" required>{{ event.description }}</textarea><br><br>

        <label for="tags">Теги:</label>
        <input type="text" id="tags" name="tags" value="{{ event.tags }}"><br><br>

        <button type="submit">Сохранить изменения</button>
    </form>
</body>
</html>
