<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="{{url_for('static', filename='img/lol.png')}}" type="image/png">
    <title>Конный клуб «Абрикос»</title>
    <link href="https://fonts.googleapis.com/css2?family=Jura&display=swap" rel="stylesheet"> 
    <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}"/>
    <link rel="stylesheet" href="{{url_for('static', filename='css/snowFlakes/snow.min.css')}}"/>
</head>
<body>
    <h1>Редактировать лошадь</h1>
    <a href="/admin/horses">Вернуться к списку лошадей</a>
    <form action="/admin/horses/edit/{{ horse.id }}" method="post">
        <label for="name">Имя лошади:</label>
        <input type="text" id="name" name="name" value="{{ horse.name }}" required><br><br>

        <label for="is_available">Доступность:</label>
        <input type="checkbox" id="is_available" name="is_available" {% if horse.is_available %}checked{% endif %}><br><br>

        <button type="submit">Сохранить изменения</button>
    </form>
</body>
</html>
