<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="{{url_for('static', filename='img/lol.png')}}" type="image/png">
    <title>Конный клуб «Абрикос»</title>
    <link href="https://fonts.googleapis.com/css2?family=Jura&display=swap" rel="stylesheet"> 
    <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}"/>
    <link rel="stylesheet" href="{{url_for('static', filename='css/snowFlakes/snow.min.css')}}"/>
</head>
<body>
    <script src="{{url_for('static', filename='css/snowFlakes/Snow.js')}}"></script>
    <header>
        <div class="logo">
            <img src="{{url_for('static', filename='img/lol.png')}}" alt="Логотип Конного клуба «Абрикос»" class="logo-img">
        </div>
        <h1 style="font-size: 32px; font-weight: bold;">Конный клуб «Абрикос»</h1>
        <nav>
            <div class="text"> 
                <a href ="about" class="animated-link">О нас</a> 
                <a href ="services"class="animated-link">Услуги</a> 
                <a href ="galery"class="animated-link">Галерея</a> 
                <a href ="news"class="animated-link">Новости</a> 
                <a href ="recording"class="animated-link">Запись</a> 
            </div>
        </nav>
        <img style="margin-right:50px;" src="{{url_for('static', filename='img/сбоку.gif')}}">
        <div class="phone">Телефон: +375 29 184-26-11</div>
    </header>

    <section>
        <div class="grid-row reverse video-gallery">
            <input type="radio" value="1" name="video-list" id="video-1" checked="checked"><label for="video-1">Видео 1</label>
            <input type="radio" value="2" name="video-list" id="video-2"><label for="video-2">Видео 2</label>
            <input type="radio" value="3" name="video-list" id="video-3"><label for="video-3">Видео 3</label>
            <input type="radio" value="4" name="video-list" id="video-4"><label for="video-4">Видео 4</label>
            <input type="radio" value="5" name="video-list" id="video-5"><label for="video-5">Видео 5</label>
            <input type="radio" value="6" name="video-list" id="video-6"><label for="video-6">Видео 6</label>
            <!-- videos -->
            <div class="video video-1">
                <iframe width="100%" height="100%" src="{{ url_for('static', filename='img/video_2024-10-05_11-13-49.mp4') }}" frameborder="0" allowfullscreen></iframe>
            </div>

            <div class="video video-2">
                <iframe width="100%" height="100%" src="{{ url_for('static', filename='img/video_2024-11-22_10-50-17 (2).mp4') }}" frameborder="0" allowfullscreen></iframe>
            </div>

            <div class="video video-3">
                <iframe width="100%" height="100%" src="{{ url_for('static', filename='img/video_2024-11-22_10-50-17 (3).mp4') }}" frameborder="0" allowfullscreen></iframe>
            </div>

            <div class="video video-4">
                <iframe width="100%" height="100%" src="{{ url_for('static', filename='img/video_2024-11-22_10-50-17.mp4') }}" frameborder="0" allowfullscreen></iframe>
            </div>

            <div class="video video-5">
                <iframe width="100%" height="100%" src="https://www.youtube.com/embed/UXP307MGQzs" frameborder="0" allowfullscreen></iframe>
            </div>

            <div class="video video-6">
                <iframe width="100%" height="100%" src="https://www.youtube.com/embed/0kY0Q5hdjDI" frameborder="0" allowfullscreen></iframe>
            </div>
            <!-- videos -->
        </div>
    </section>

    <footer>
        <div>
            <p>Контактная информация: +375 29 184-26-11</p>
            <p> 2024 Конный клуб «Абрикос»</p>
        </div>
    </footer>
</body>

</html>
